/* Adds linear gradient/text color to topbar */
.topbar {
    background-image: linear-gradient(
        to left,
        black 0%,
        white 100%
    );
    color: white;
}

/* Aligns text to center for h2 elements */
h2 {
    text-align: center;
}

/* Sets font size/weight for search label */
.search {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Adds linear gradient to buttons */
button {
    background-image: linear-gradient(
        to left,
        black 0%,
        white 100%
    );
}

/* Adds media query for screens 280px wide, or smaller to reduce form label text size */
@media screen and (max-width: 280px) {
    .search {
        font-size: 1rem;
        font-weight: bold;
    };
}
